@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
    padding: 10px;
    background: #000;
}

.icons:hover > *:not(:hover) {

  opacity: 0.5;
  transform: scale(0.9);
  transition: all 0.3s ease;
}
